@model Appointment



@{
    var Doctoros = new SelectList(ViewBag.Doctors ,  "Id" , "Name");
}

<h2> Add New Employee </h2>

<form asp-action="Create">

@*     
<label asp-for="Name" class="form-Label"></label>
<input asp-for="Name" class="form-control" />
<span asp-validation-for="Name" class="text-danger"></span>


    <label asp-for="Specialization" class="form-Label"></label>
    <input asp-for="Specialization" class="form-control" />
    <span asp-validation-for="Specialization" class="text-danger"></span>


    <label asp-for="Date" class="form-Label"></label>
    <input asp-for="Date" class="form-control" />
    <span asp-validation-for="Date" class="text-danger"></span>
 *@


    

</form>

@section ClientSideValidation
{
    <partial name="_ValidationScriptsPartial" />
}